<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "fathersday.ehan119.edu.mit.scratch"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Father's Day</name>

    <description>
        Happy Fathers Day
    </description>

    <author href="http://scratch.mit.edu/users/Ehan119" email="ehan.ahamed.09@gmail.com">
        Ehan119
    </author>

</widget>
